*::before
*::after {
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #515076;
  background-image: url("assets/background.png");
  background-size: 790px 697px;
  background-repeat: no-repeat;
  background-position: 190px 40px;
  }


.title {
  font-size: 70px;
  font-weight: 400px;
  font-style: regular;
  line-height: 78px;
  width: 846px;
  height: 78px;
  padding: 0;
  margin-top: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  text-align: center;
  color: #515076;  
}

.clear-list {
  list-style: none;
  padding: 0;
  
}

button {
  background-color: light-grey;
  color: #007bff;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.active-color {
  background-color: rgb(0, 229, 255);
}


.card {
  background-color: #f7f7fa;
  width:290px;
  height: 523px;
  padding: 25px;
}

.card__image {
  display: block;
  width: 290px;
  height: 245px;
}
.card__category {
display: block;
font-size: 13px;
line-height: 18px;
color: #515076;
text-transform: uppercase;
width: 171px;
height: 24px;
margin-top: 25px;
}

.card__name{
  font-size: 20px;
  line-height: 20px;
  color: #515076;
  width: 255px;
  height: 27px;
  margin-top: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
   width: 1110px;
  height: 1191px;
 
}


.product__item{
}

.card-compound {
  width: 252px;
  height: 87px;

}

.compound__list {
  margin-left: 15px;
  margin-top: 10px;
  padding: 0;
}

.price{
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 20px;
}

.price__value{
  margin-left: 165px;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.background-body {
  background-color: white;
}
.background-body.background-body-active {
  background-color:bisque;
}